lib/**/*.h
lib/**/*.lib
lib/**/*.so
lib/**/*.pdb
lib/**/*.dll
lib/**/*.exp
lib/**/*.ilk
build/*.*
src/**/build
*.pro.user
build
build-*
bin
x64
.vs
*.log
*.vcxproj.user
*.vcxproj.filters
*.vcxproj
bin
bin.v2
x64
x86
debug
release
Debug
Release
